@import "app/variables.module.scss";

.button {
  background: $metale-yellow;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border-radius: 100px;
  padding: 0 13px;
  font-weight: 700;
  color: black;
  position: relative;

  .disabled-mask {
    width: 100%;
    height: 100%;
    background: #FFFFFFCC;
    position: absolute;
    inset: 0;
  }
}

.large {
  height: 48px;
  width: 100%;
  font-size: 15px;
  line-height: 48px;
  text-align: center;
  padding: 0;
}

.blue {
  background: $metale-blue;
  color: white;
}


