$metale-yellow: #F0F990FF;
$metale-blue: #1E28F1FF;

$text-1: #000000FF;
$text-2: #808D9EFF;
$text-3: #9EA3AEFF;

$clipper: "M12.0299399,0.938771139 C15.1916361,0.312923713 18.4102276,0 21.6857143,0 C25.1626212,0 28.6395281,0.352592386 32.1164351,1.05777716 L32.1164353,1.05777582 C37.6561604,2.18134047 41.9767558,6.52601518 43.0695155,12.071899 C43.6898385,15.2201111 44,18.4247162 44,21.6857143 C44,25.1061504 43.658768,28.5265865 42.976304,31.9470226 L42.9763008,31.947022 C41.8733749,37.4747675 37.5629434,41.8019513 32.0395177,42.9263106 C28.5231778,43.6421035 25.07191,44 21.6857143,44 C18.4460199,44 15.2063255,43.6724019 11.9666312,43.0172057 L11.9666317,43.0172033 C6.4501853,41.9015564 2.13812309,37.5909768 1.02057929,32.0749144 C0.340193098,28.7166096 0,25.3583048 0,22 C0,18.6268733 0.343202605,15.2537467 1.02960782,11.88062 L1.02960679,11.8806198 C2.15520715,6.34920404 6.49260245,2.03486897 12.0299399,0.938771139 Z";

:export {
  metaleYellow: $metale-yellow;
  metaleBlue: $metale-blue;
  text1: $text-1;
  text2: $text-2;
  text3: $text-3;
}
